body {
  background: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  font-size: 30px;
  color: red;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
.grid-container {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.grid {

  background-color: white;
}
.mouseOver {
  background-color: red;
}
button {
  padding: 20px;
  width: 400px;
  margin: 20px;
  border-radius: 6px;
}
